AddDefaultCharset UTF-8
AddType "text/css; charset=UTF-8" .css
AddType "application/javascript; charset=UTF-8" .js

<IfModule mod_headers.c>
  <FilesMatch "\.(html|css|js|webmanifest)$">
    Header set Cache-Control "no-store, no-cache, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
  </FilesMatch>
</IfModule>
